@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-jade-50: #effef7;
  --color-jade-75: #e4fef3;
  --color-jade-100: #dafeef;
  --color-jade-200: #b8fadd;
  --color-jade-300: #81f4c3;
  --color-jade-400: #43e5a0;
  --color-jade-500: #1acd81;
  --color-jade-600: #0fa968;
  --color-jade-700: #108554;
  --color-jade-800: #126945;
  --color-jade-900: #11563a;
  --color-jade-950: #03301f;
}

body {
  -webkit-font-smoothing: antialiased; /* para Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* para Firefox */
}

/* tailwind.css */
@layer utilities {
  .translate-y-2rem {
    transform: translateY(2rem);
  }
  .translate-y-4rem {
    transform: translateY(4rem);
  }
  .translate-y-8rem {
    transform: translateY(8rem);
  }
}
