@import './animations.css';

#home-screen {
  /* Default: 100dvh - 60px (waves) */
  height: calc(100vh - 60px);

  /* Fix Android or in-app-browser 100vh bug (+JS) */
  max-height: var(--max-height-px);
  min-height: var(--min-height-px);
  /* Fix iOS 100vh bug (Fallback if isMobile() doesnt catch Safari) */
  @supports (-webkit-touch-callout: none) {
    height: calc(100vh - 180px);
  }

  /* Mobile landscape (no photo) */
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    height: calc(100vh - 140px);
    #home-screen-photo {
      display: none;
    }
  }
  /* iPad/Tablet landscape (no photo) -Fallback if isMobile() doesnt catch Safari- */
  @supports (-webkit-touch-callout: none) and (orientation: landscape) {
    height: calc(100vh - 140px);
    #home-screen-photo {
      display: none;
    }
  }

  #home-screen-title {
    margin-top: 6vh;
    filter: drop-shadow(0 0 0.15rem #fff);
    > * {
      animation-duration: 0.25s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
    }
    .anim-first {
      animation-delay: 0.25s;
      animation-name: fadeFromTop;
      @media only screen and (min-width: 768px) {
        animation-name: fadeFromBottom;
      }
    }
    .anim-second {
      animation-delay: 0.5s;
      animation-name: fadeFromTop;
      @media only screen and (min-width: 768px) {
        animation-name: fadeFromBottom;
      }
    }
    .anim-third {
      animation-delay: 0.75s;
      animation-name: fadeFromTop;
      @media only screen and (min-width: 768px) {
        animation-name: fadeFromBottom;
      }
    }
  }
  #home-screen-photo {
    img {
      filter: drop-shadow(0px 0px 2px gray);
      min-width: 350px;
      min-height: 350px;
      max-width: 768px;
      max-height: 65vh;
      @media screen and (min-width: 480px) {
        object-fit: scale-down;
      }
    }
  }
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedGradient 6s ease infinite alternate;
  -moz-animation: animatedGradient 6s ease infinite alternate;
  animation: animatedGradient 6s ease infinite alternate;
}
