.home-screen {
  height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0) - 60px
  );
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    height: 100vh;
  }
  /* iOS Webkit Fix 100vh */
  @supports (-webkit-touch-callout: none) {
    height: calc(100vh - 180px);
  }

  .home-screen-title {
    margin-top: 8vh;
    filter: drop-shadow(0 0 0.15rem #fff);
  }

  .home-screen-photo {
    img {
      filter: drop-shadow(0px 0px 2px gray);
      min-width: 350px;
      min-height: 350px;
      max-width: 768px;
      max-height: 65vh;
      @media screen and (min-width: 576px) {
        object-fit: scale-down;
      }
      @media only screen and (max-width: 768px) and (orientation: landscape) {
        display: none;
      }
    }
  }
}

@keyframes fadeFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeFromBottom {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-screen-title {
  > * {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
  .anim-first {
    animation-delay: 0.25s;
    animation-name: fadeFromTop;
    @media only screen and (min-width: 768px) {
      animation-name: fadeFromBottom;
    }
  }
  .anim-second {
    animation-delay: 0.5s;
    animation-name: fadeFromTop;
    @media only screen and (min-width: 768px) {
      animation-name: fadeFromBottom;
    }
  }
  .anim-third {
    animation-delay: 0.75s;
    animation-name: fadeFromTop;
    @media only screen and (min-width: 768px) {
      animation-name: fadeFromBottom;
    }
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedGradient 6s ease infinite alternate;
  -moz-animation: animatedGradient 6s ease infinite alternate;
  animation: animatedGradient 6s ease infinite alternate;
}
