@import './animations.css';

.section {
  .section-title,
  .section-content p,
  .download-cv-btn,
  .slide-container,
  .timeline-item * {
    view-timeline-name: --scroll-animation;
    view-timeline-axis: block;

    animation-timeline: --scroll-animation;
    animation-name: scrollShow;
    animation-fill-mode: both;
    animation-range: entry 20% cover 40%;
  }
  @media screen and (max-width: 450px) {
    .timeline-item {
      h3,
      p {
        animation-name: scrollShow, scrollScale;
      }
    }
  }
}
