@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.big-heading {
  font-size: clamp(40px, 6vw, 80px);
  font-weight: 600;
  text-wrap: nowrap;
}

.small-heading {
  font-size: clamp(16px, 2vw, 32px);
  text-wrap: nowrap;
}
