@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 768px) {
  .show-mobile-menu {
    position: fixed;
    background: #effef7;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    ul > li > a:hover {
      color: #effef7;
      border-radius: 12px;
      background: #03301f;
    }
  }
}

/* tailwind.css */
@layer utilities {
  .translate-y-2rem {
    transform: translateY(2rem);
  }
  .translate-y-4rem {
    transform: translateY(4rem);
  }
  .translate-y-8rem {
    transform: translateY(8rem);
  }
}
