@keyframes scrollShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scrollScale {
  from {
    transform: scale(0.75) translateX(-3rem);
  }

  to {
    transform: scale(1) translateX(0);
  }
}

section.timeline {
  .download-cv-btn,
  #work-title h2,
  li * {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: scrollShow;
    animation-fill-mode: both;
    animation-range: entry 20% cover 40%;
  }
  @media screen and (max-width: 450px) {
    li p,
    h3 {
      animation-name: scrollShow, scrollScale;
    }
  }
}
