@keyframes scrollShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

section.timeline {
  .download-cv-btn,
  #work-title h2,
  li * {
    view-timeline-name: --image; /*Nombre del timeline*/
    view-timeline-axis: block; /*Axis Vertical*/

    animation-timeline: --image;
    animation-name: scrollShow; /*Nombre de la animación*/
    animation-fill-mode: both; /*Dirección de la animación (ambos)*/
    animation-range: entry 20% cover 40%;
    /*Rango de animación: Cuando el usuario está viendo el 'entry %' del contenido sobre el viewport, empieza la animación,
    y cuando el usuario esté viendo el 'cover %', acaba la animación.*/
  }
}
