@keyframes scrollShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scrollScale {
  from {
    transform: scale(0.75) translateX(-3rem);
  }

  to {
    transform: scale(1) translateX(0);
  }
}

.timeline {
  #work-title *,
  .download-cv-btn,
  .slide-container,
  .timeline-item * {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: scrollShow;
    animation-fill-mode: both;
    animation-range: entry 20% cover 40%;
  }
  @media screen and (max-width: 450px) {
    .timeline-item h3,
    .timeline-item p {
      animation-name: scrollShow, scrollScale;
    }
  }
}
